@media (max-width: 1000px)

    .container
        max-width: 769px
    .advantages__logo
        width: 33%

@media (max-width: 768px)

    .container
        max-width: 640px
    .advantages__logo
        width: 33%

@media (max-width: 640px)

    .container
        max-width: 360px
    .advantages
        min-width: 90%
        &__wrapper
            justify-content: center
            flex-wrap: wrap
        &__logo
            width: 90%
    .promo
        &__wrapper
            align-items: center
        &__icons
            width: 100%
            margin-right: 0
        &__icon
            width: 30%
    .header
        flex-direction: column
        &__official
            margin-top: 10px
        &__contacts
            align-items: center

@media (max-width: 400px)

    .container
        max-width: 310px

@media (max-width: 320px)

    .container
        max-width: 290px
    .promo
        &__wrapper
            text-align: center
        &__header
            font-size: 32px
        &__subheader
            font-size: 22px
    .button__main
        width: 100%